@font-face {
    font-family: "Ancizar Sans";
    src: url(https://gestionapp.unal.edu.co/cdn/assets/fonts/AncizarSansVF.woff2) format("woff2-variations");
    font-weight: 1 1000;
    font-stretch: 100%;
    font-style: normal;
}

@font-face {
    font-family: "Ancizar Sans";
    src: url(https://gestionapp.unal.edu.co/cdn/assets/fonts/AncizarSansItalicVF.woff2) format("woff2-variations");
    font-weight: 1 1000;
    font-stretch: 100%;
    font-style: italic;
}

@font-face {
    font-family: "Ancizar Serif";
    src: url(https://gestionapp.unal.edu.co/cdn/assets/fonts/AncizarSerifVF.woff2) format("woff2-variations");
    font-weight: 1 1000;
    font-stretch: 100%;
    font-style: normal;
}

@font-face {
    font-family: "Ancizar Serif";
    src: url(https://gestionapp.unal.edu.co/cdn/assets/fonts/AncizarSerifItalicVF.woff2) format("woff2-variations");
    font-weight: 1 1000;
    font-stretch: 100%;
    font-style: italic;
}
